<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

    {{>navbar}}

   
    <!---main header--->

        <div class="containter-fluid main_header" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Ravi" class="img-fluid" title="Ravi Prajapati" >
                        </figure>
                     </div>
                     
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to My World </p>
                        <h1>I want to serve the  <span class="text_clr"> people </span> of my country selflessly</h1>
                        <a href="https://github.com/Raviparmar7" target="_Ravi"><button> About me </button></a>

                    </div>
                    <!--right side div-->
                  

                </div>

            </div>
        </div>
        </div>
        <!--footer code-->   
        {{>footer}}
</body>
</html>